<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>WCPROC</title>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

  </head>
  <body>
    <h1>News Word Cloud</h1>

    <div style="float:left" id="BBC" style="min-width: 310px; height: 950px; margin: 0 auto"></div>
    <div style="float:left" id="CNN" style="min-width: 310px; height: 950px; margin: 0 auto"></div>
    <div style="float:left" id="CBS" style="min-width: 310px; height: 950px; margin: 0 auto"></div>

    <script type="text/javascript">

    loadFeedChart("BBC");
    loadFeedChart("CBS");
    loadFeedChart("CNN");

    function loadFeedChart(category) {

      $.get("/api/getwords", {category: category}, function (data) {

          data = JSON.parse(data);

          var names = [];
          var counts = [];

          for (var i = 0, len = data.length; i < len; i++) {
            if (data[i].name != "")
            {
              names.push(data[i].name);
              counts.push(data[i].count);
            }
          }

          $('#' + category).highcharts({
              title: { text:category},
              chart: {
                  type: 'bar'

              },
              xAxis: {
                  categories: names
              },
              plotOptions: {
                  bar: {
                      dataLabels: {
                          enabled: true
                      }
                  }
              },
              credits: {
                  enabled: false
              },
              series: [{
                  data: counts
              }]
          });
      });
    }


    </script>
  </body>
</html>
