<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>WCPROC</title>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

  </head>
  <body>
    <h1>News Word Scraper</h1>

    <p>to filter by certain words, type them in the textbox below.  seperate them with a comma.</p>

    <p>Example: trump, gun, clinton, science</p>

    <div id="input">
      <input id="filterText" type="text" />
      <input id="cmdFilter" type="button" onclick="queryCharts()" value="filter" />

    </div>
    <br>

    <div>
    <div  id="BBC" style="float:left; min-width: 310px; height: 500px; margin: 0 auto"></div>
    <div  id="CNN" style="float:left;  min-width: 310px; height: 500px; margin: 0 auto"></div>
    <div  id="CBS" style="float:left;  min-width: 310px; height: 500px; margin: 0 auto"></div>
    <div  id="FOX" style="float:left;  min-width: 310px; height: 500px; margin: 0 auto"></div>
    <div  id="NPR" style="float:left;  min-width: 310px; height: 500px; margin: 0 auto"></div>
  </div>



    <div id="input2" style="clear:both;">
        <p>enter only one word in the textbox below</p>
      <input id="filterText2" type="text" />
      <input id="cmdFilter" type="button" onclick="queryTimeLine()" value="Timeline" />

    </div>

    <div id="timeline" style="min-width: 310px; height: 500px; margin: 0 auto"></div>


    <script type="text/javascript">

    $("#filterText").keyup(function(event){
      if(event.keyCode == 13){
          $("#cmdFilter").click();
      }
    });

    queryCharts()

    function queryTimeLine()
    {
      getTimeLineData(document.getElementById('filterText2').value);
    }

    function queryCharts()
    {
      loadFeedChart("BBC", document.getElementById('filterText').value);
      loadFeedChart("CBS", document.getElementById('filterText').value);
      loadFeedChart("CNN", document.getElementById('filterText').value);
      loadFeedChart("FOX", document.getElementById('filterText').value);
      loadFeedChart("NPR", document.getElementById('filterText').value);


    }

    function getTimeLineData(word) {
      $.get("/api/getTimeLine", {word}, function (payload) {
          payload = JSON.parse(payload);
          var dates = [];
          var series = [];

          var fox = {name: "FOX", data: [], color: "red"};
          var cbs = {name: "CBS", data: []};
          var bbc = {name: "BBC", data: [], color: "purple"};
          var npr = {name: "NPR", data: []};
          var cnn = {name: "CNN", data: [], color: "blue"};


          //name: category, data: []



          for (var i = 0, len = payload.length; i < len; i++) {


              if (dates.indexOf(payload[i].grouping.date) == -1)
                dates.push(payload[i].grouping.date);

              //counts.push(data[i].count);
          }


          for (var i = 0, len = dates.length; i < len; i++) {
              if (dates.indexOf(payload[i].grouping.date) != -1 && payload[i].grouping.category == "FOX")
                fox.data.push(payload[i].count)
              else
                fox.data.push(0)

              if (dates.indexOf(payload[i].grouping.date) != -1 && payload[i].grouping.category == "CBS")
                cbs.data.push(payload[i].count)
              else
                cbs.data.push(0)

              if (dates.indexOf(payload[i].grouping.date) != -1 && payload[i].grouping.category == "BBC")
                bbc.data.push(payload[i].count)
              else
                bbc.data.push(0)

              if (dates.indexOf(payload[i].grouping.date) != -1 && payload[i].grouping.category == "NPR")
                npr.data.push(payload[i].count)
              else
                npr.data.push(0)

              if (dates.indexOf(payload[i].grouping.date) != -1 && payload[i].grouping.category == "CNN")
                cnn.data.push(payload[i].count)
              else
                cnn.data.push(0)

          }

          series.push(fox)
          series.push(cbs)
          series.push(bbc)
          series.push(npr)
          series.push(cnn)

          //alert(JSON.stringify(series))


          loadTimeLine(dates, series);

      });
    }


    function loadTimeLine(dates, series) {
            $('#timeline').highcharts({
            title: {
                text: 'Word count on date',
                x: -20 //center
            },
            xAxis: {
                categories: dates
            },
            series: series
        });
    }

    function loadFeedChart(category, filter) {

      $.get("/api/getwords", {category: category, filter}, function (data) {

          data = JSON.parse(data);

          var names = [];
          var counts = [];

          for (var i = 0, len = data.length; i < len; i++) {
            if (data[i].name != "")
            {
              names.push(data[i].name);
              counts.push(data[i].count);
            }
          }

          $('#' + category).highcharts({
              title: { text:category},
              chart: {
                  type: 'bar'

              },
              xAxis: {
                  categories: names
              },
              plotOptions: {
                  bar: {
                      dataLabels: {
                          enabled: true
                      }
                  }
              },
              credits: {
                  enabled: false
              },
              series: [{
                  data: counts
              }]
          });
      });
    }
    </script>
  </body>
</html>
