<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>WCPROC</title>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>

  </head>
  <body>
    <h1>News Word Scraper</h1>

    <p>to filter by certain words, type them in the textbox below.  seperate them with a comma.</p>

    <p>Example: trump, gun, clinton, science</p>

    <div id="input">
      <input id="filterText" type="text" />
      <input id="cmdFilter" type="button" onclick="loadFeedChart(document.getElementById('filterText').value)" value="filter"  />

    </div>
    <br>

    <div>
  </div>

  <div  id="seriesChart" style="min-width: 310px; height: 500px; margin: 0 auto"></div>

    <div id="input2" style="clear:both;">
        <p>enter only one word in the textbox below</p>
      <input id="filterText2" type="text" />
      <input id="cmdFilter" type="button" onclick="getTimeLineData(document.getElementById('filterText2').value)" value="Timeline" />

    </div>

    <div id="timeline" style="min-width: 310px; height: 500px; margin: 0 auto"></div>


    <script type="text/javascript">

    $("#filterText").keyup(function(event){
      if(event.keyCode == 13){
          $("#cmdFilter").click();
      }
    });

    loadFeedChart("trump,clinton,gun,science");
    getTimeLineData("gun");

    function loadFeedChart(filter) {
      filter = filter.replace(/\s/g,'');
      var seriesPayload = [];
      var names = filter.split(",");

      $.when(
        $.get("/api/getwords", {category: "FOX", filter}, function (data) {
            data = JSON.parse(data);
            var counts = [];
            var obj = {};

            for (var i = 0, len = data.length; i < len; i++) {
              if (names.indexOf(data[i].name.toLowerCase()) != -1) {
                  counts.push(data[i].count);
              } else {
                  counts.push(0);
              }
            }

            obj.name = "FOX";
            obj.data = counts;
            seriesPayload.push(obj);
        }),
        $.get("/api/getwords", {category: "CNN", filter}, function (data) {
            data = JSON.parse(data);
            var counts = [];
            var obj = {};

            for (var i = 0, len = data.length; i < len; i++) {
              if (names.indexOf(data[i].name.toLowerCase()) != -1) {
                  counts.push(data[i].count);
              } else {
                  counts.push(0);
              }
            }

            obj.name = "CNN";
            obj.data = counts;
            seriesPayload.push(obj);
        }),
        $.get("/api/getwords", {category: "NPR", filter}, function (data) {
            data = JSON.parse(data);
            var counts = [];
            var obj = {};

            for (var i = 0, len = data.length; i < len; i++) {
              if (names.indexOf(data[i].name.toLowerCase()) != -1) {
                  counts.push(data[i].count);
              } else {
                  counts.push(0);
              }
            }

            obj.name = "NPR";
            obj.data = counts;
            seriesPayload.push(obj);
        }),
        $.get("/api/getwords", {category: "BBC", filter}, function (data) {
            data = JSON.parse(data);
            var counts = [];
            var obj = {};

            for (var i = 0, len = data.length; i < len; i++) {
              if (names.indexOf(data[i].name.toLowerCase()) != -1) {
                  counts.push(data[i].count);
              } else {
                  counts.push(0);
              }
            }

            obj.name = "BBC";
            obj.data = counts;
            seriesPayload.push(obj);
        }),
        $.get("/api/getwords", {category: "CBS", filter}, function (data) {
            data = JSON.parse(data);
            var counts = [];
            var obj = {};

            for (var i = 0, len = data.length; i < len; i++) {
              if (names.indexOf(data[i].name.toLowerCase()) != -1) {
                  counts.push(data[i].count);
              } else {
                  counts.push(0);
              }
            }

            obj.name = "CBS";
            obj.data = counts;
            seriesPayload.push(obj);
        })


      ).then(function (){

          console.log(JSON.stringify(seriesPayload));
          console.log(JSON.stringify(names));

          $("#seriesChart").highcharts({
              title: { text:"combined"},
              chart: {
                  type: 'bar'

              },
              xAxis: {
                  categories: names
              },
              plotOptions: {
                  bar: {
                      dataLabels: {
                          enabled: true
                      }
                  }
              },
              credits: {
                  enabled: false
              },
              series: seriesPayload
          })
    });
    }

    function loadTimeLine(dates, series, word) {
            $('#timeline').highcharts({
            title: {
                text: 'Timeline for ' + word,
                x: -20 //center
            },
            xAxis: {
                categories: dates
            },
            series: series
        });
    }

    function getTimeLineData(word) {
      $.get("/api/getTimeLine", {word}, function (payload) {
          payload = JSON.parse(payload);
          var dates = [];
          var series = [];

          var fox = {name: "FOX", data: [], color: "red"};
          var cbs = {name: "CBS", data: []};
          var bbc = {name: "BBC", data: [], color: "purple"};
          var npr = {name: "NPR", data: []};
          var cnn = {name: "CNN", data: [], color: "blue"};

          for (var i = 0, len = payload.length; i < len; i++) {
              if (dates.indexOf(payload[i].grouping.date) == -1)
                dates.push(payload[i].grouping.date);
          }

          for (var i = 0, len = dates.length; i < len; i++) {
              if (dates.indexOf(payload[i].grouping.date) != -1 && payload[i].grouping.category == "FOX")
                fox.data.push(payload[i].count)
              else
                fox.data.push(0)

              if (dates.indexOf(payload[i].grouping.date) != -1 && payload[i].grouping.category == "CBS")
                cbs.data.push(payload[i].count)
              else
                cbs.data.push(0)

              if (dates.indexOf(payload[i].grouping.date) != -1 && payload[i].grouping.category == "BBC")
                bbc.data.push(payload[i].count)
              else
                bbc.data.push(0)

              if (dates.indexOf(payload[i].grouping.date) != -1 && payload[i].grouping.category == "NPR")
                npr.data.push(payload[i].count)
              else
                npr.data.push(0)

              if (dates.indexOf(payload[i].grouping.date) != -1 && payload[i].grouping.category == "CNN")
                cnn.data.push(payload[i].count)
              else
                cnn.data.push(0)

          }

          series.push(fox)
          series.push(cbs)
          series.push(bbc)
          series.push(npr)
          series.push(cnn)

          loadTimeLine(dates, series, word);
      });
    }
    </script>
  </body>
</html>
